@use "../_mixins";

.header-search .header-search-form {
	position: absolute;
	right: 0;
	display: none;
	margin: 0;
	padding: 1em;
	@include mixins.background(--header-background-color);
	border: 1px solid;
	@include mixins.border-color(--navi-border-color);
	z-index: 10;
}

.header-search .header-search-form.toggled-on {
	display: block;
}

.header-search .header-search-form .search-form {
	min-width: 300px;
	font-weight: normal;
}

.header-search .header-search-icon {
	padding: 1em;
	@include mixins.color(--navi-color);
	background: none;
	font-size: 15px;
	font-size: 0.9375rem;
}

.header-search .header-search-icon:hover {
	cursor: pointer;
	color: var(--navi-hover-color);
}

.header-search .header-search-icon:focus {
	outline: none;
}

.header-search .header-search-icon .icon-search {
	display: block;
	margin: 0.35rem 0 0;
	padding: 0;
	width: 20px;
	height: 20px;
	fill: currentColor;
}

@media only screen and (max-width: 60em) {
	.header-search .header-search-form {
		position: static;
		display: block !important;
		visibility: visible;
		margin: 2em 0 1em;
		padding: 0;
		background: none;
		border: none;
	}

	.header-search .header-search-form .search-form {
		min-width: auto;
	}

	.header-search .header-search-icon {
		display: none;
	}
}
