
/*--------------------------------------------------------------
## Desktop X-Large ( < 1200px )
--------------------------------------------------------------*/
@media only screen and (max-width: 75em) {
	.widget-magazine-posts-list .type-post .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

}

/*--------------------------------------------------------------
## Desktop Medium ( < 1040px )
--------------------------------------------------------------*/
@media only screen and (max-width: 65em) {
	.footer-widget-column {
		width: 50%;
	}

	.footer-widget-column:nth-child(3) {
		clear: left;
	}

}

/*--------------------------------------------------------------
## Desktop Small ( < 960px )
--------------------------------------------------------------*/
@media only screen and (max-width: 60em) {
	.header-bar-wrap .header-bar {
		padding: 0;
	}

	/* Header Search */
	.header-search .header-search-form {
		position: static;
		display: block !important;
		visibility: visible;
		margin: 2em 0 1em;
		padding: 0;
		background: none;
		border: none;
	}

	.header-search .header-search-form .search-form {
		min-width: auto;
	}

	.header-search .header-search-icon {
		display: none;
	}

	/* Magazine Posts */
	.widget-magazine-posts-list .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.widget-magazine-posts-sidebar .large-post .wp-post-image {
		float: left;
		margin: 0 1.5em 0 0;
		max-width: 40%;
	}

	/* Footer Widgets */
	.footer-widgets-background {
		padding: 2em 0 0;
	}

	.footer-widgets .widget {
		margin: 0 0 2em;
	}

	/* Footer Navigation */
	.footer-navigation {
		float: none;
		text-align: center;
	}

	.footer-navigation-menu {
		padding-bottom: 0;
	}

	.footer-navigation-menu li {
		float: none;
		display: inline-block;
	}
}

/*--------------------------------------------------------------
## Mobile Extra Large ( < 640px )
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {
	.widget-magazine-posts-list .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	/* Footer Navigation Menu */
	.footer-navigation-menu li,
	.footer-navigation-menu a {
		display: block;
	}

	.footer-navigation-menu a {
		padding: 0.8em 0;
	}
}

/*--------------------------------------------------------------
## Mobile Large ( < 560px )
--------------------------------------------------------------*/
@media only screen and (max-width: 35em) {
	.footer-widgets {
		margin-right: 0;
	}

	.footer-widget-column {
		float: none;
		padding-right: 0;
		width: 100%;
	}

}

/*--------------------------------------------------------------
## Mobile Medium ( < 480px )
--------------------------------------------------------------*/
@media only screen and (max-width: 30em) {
	/* Author Bio */
	.entry-author .author-avatar {
		float: none;
		margin: 0 0 1em;
		max-width: 100%;
	}

	.entry-author .author-heading .author-title {
		display: block;
		margin: 0 0 0.25em;
	}

	.entry-author .author-heading .author-link {
		display: block;
	}

	/* Magazine Posts */
	.widget-magazine-posts-list .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.widget-magazine-posts-sidebar .large-post .wp-post-image {
		float: none;
		margin: 0 0 0.5em 0;
		max-width: 100%;
	}

	/* Footer Widgets */
	.footer-widgets-background {
		padding: 1.5em 0 0;
	}

	.footer-widgets {
		margin-right: -1.5em;
	}

	.footer-widget-column {
		padding-right: 1.5em;
	}

	.footer-widgets .widget {
		margin: 0 0 1.5em;
	}
}

/*--------------------------------------------------------------
## Mobile Small ( < 320px )
--------------------------------------------------------------*/
@media only screen and (max-width: 25em) {
	.widget-magazine-posts-list .type-post .wp-post-image {
		float: none;
		margin: 0 0 0.5em;
		padding: 0;
		max-width: 100%;
	}
}

@media only screen and (max-width: 20em) {
	.header-bar .social-icons-navigation {
		display: none;
	}
}
